<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
*** {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  background-color: #c0926d;
  padding: 20px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}



            </style>


</head>


<body style="background-color:#c0926d";>
   
    
<div class="header"style="font-size:4vw; color:rgb(119, 78, 7); border: 2px solid rgb(156, 94, 23);">Alpha's fan page </div>
  
  <div class="topnav">
    <a href="https://www.google.co.il/?hl=iw">Search</a>
    <a href="file:///Users/ofri/Desktop/web/ofri-mor1/templates/contactus.html">Contact Us</a>
    <a href="https://dogtime.com/dog-breeds/profiles">All Dog Breed Profiles</a>
  </div>

    <div>
    <center>
    <p class="ex"; style="font-size:2vw" ><span style='font-size:30px;'>&#128054;</span></p> 
    <img src="/Users/ofri/Desktop/web/ofri-mor1/static/alpfa.jpg" alt="pic" width="500" height="400">
    </center>
</div>
</body>
</html>

