<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Design.css">
    <script defer src="/Users/ofri/Desktop/web/ofri-mor1/static/JS.js"></script>
    <title>Document</title>

</head>

<body >

  <div>
    <!-- התחלת המסגרת השחורה -->

    <!-- הכותרת של הדף -->
<div class="header">Alpha's fan page </div>
 
<ul>
<nav>
  <div class="topnav">
    <li><a href="https://www.google.co.il/?hl=iw">Search</a></li>
    <li></li><a href="../templates/homepage.html" >Home Page</a> </li>
    <li><a href="../templates/contactus.html">Contact Us</a></li>
    <li><a href="https://dogtime.com/dog-breeds/profiles">All Dog Breed Profiles</a></li>
  </div>
</nav>
</ul>

  <button class= bottom onclick="typeWriter2()">Click me to surprise (click again..)</button>
  <p id="demo2"></p> 



  <form action="/action_page.php">
    <fieldset>
     <legend><span>&#128054;</span></legend>

     <center>
    <img src="../static/alpha.jpg" alt="pic" width="500" height="400">
    </center>
    
    <!-- סיום המסגרת השחורה -->
  </form>
</div>
</body>
</html>

